.textLabel {
  font-family: "Inter", sans-serif;
  color: var(--color-text-primary);
  text-decoration: none;
  text-shadow: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.colorWhite {
  color: var(--color-white);
}

.colorBlack {
  color: var(--color-black);
}

.colorGray {
  color: var(--color-gray-500);
}

.colorAccent {
  color: var(--color-accent-600);
}

.P100 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.P200 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.P300 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.H100 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.H200 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.H300 {
  font-size: 65px;
  font-weight: 700;
  line-height: 80px;
}
