.item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  color: var(--color-accent-600);
}

.flag {
  width: 20px !important;
  height: 15px !important;
  border-radius: 3px;
}
