.item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  color: var(--color-accent-600);
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-accent-600);
  flex-shrink: 0;
}
